body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.card {
  background: black;
  padding: 35px 45px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
  z-index: 2;
}

h1 {
  color: #ff4d6d;
}

.proposal-text {
  font-size: 22px;
  color: #ff4d6d;
  margin-top: 15px;
}

.from {
  margin-top: 18px;
  font-size: 18px;
  color: #ff4d6d;
  font-style: italic;
}

.buttons {
  margin-top: 25px;
}

button {
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin: 10px;
}

#yes {
  background: #ff4d6d;
  color: black;
}

#no {
  background: #ddd;
  position: absolute;
}

/* Floating hearts & roses */
.hearts span {
  position: absolute;
  bottom: -50px;
  animation: float 8s linear infinite;
  font-size: 26px;
  opacity: 0.85;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) translateX(40px);
    opacity: 0;
  }
}

